/Bass.class
/BluesScale.class
/HarmonicMinorScale.class
/Instrument.class
/MajorScale.class
/MelodicMinorScale.class
/MinorScale.class
/NaturalMinorScale.class
/Note.class
/Scale.class
/ScaleRunner.class
/WholeToneScale.class
